services:
  kursi-roda-fastapi:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kursi-roda-fastapi
    restart: always
    volumes:
      - .:/app
      - /home/dean-cloud/gii/kursi-roda/kursi-roda-fastapi/venv:/venv
    depends_on:
      - kursi-roda-postgres
    env_file:
      - .env
    networks:
      - npm_networks

  kursi-roda-postgres:
    image: postgres:13-alpine
    container_name: kursi-roda-postgres
    restart: always
    environment:
      POSTGRES_USER: ilham
      POSTGRES_PASSWORD: Rahasia123
      POSTGRES_DB: kursi_roda
    volumes:
      - kursi_roda_data:/var/lib/postgresql/data
    networks:
      - npm_networks

volumes:
  kursi_roda_data:


networks:
  npm_networks:
    external: true
